body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom:20px;
    letter-spacing: -1px;
}
.form-section{
    background-color: #fff;
    padding: 20px;
    box-sizing:border-box;
    border: 1px solid ;
    border-radius: 8px;
    width: 350px;
    height: 100%;
   
}
p{
    font-size: 12px;
    font-weight: bold;
  margin-top: 0px;
  margin-bottom: 12px;  
}
label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}
input{
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #0a0000;
    padding:4px;
    border-radius: 8px;

}
button {
    border-color: green;
    background-color: yellow;
    border-radius: 8px;
    padding:3px;
    width: 100%;
    font-weight: bold;
    box-shadow: 0 0 3px 2px rgba(228, 121, 17, .5);
   width: 100%;
    background-color: #f7ca00;
    border: 1px solid #a88734;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 13px;
    margin-top: 5px;
}



.info {
    font-size: 08px;
    margin-top: -10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: italic;
    letter-spacing: -1;
}
span{
    color: blue;
}