body{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: solid #dada;
    }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
form{
    display:block;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: solid;
    box-sizing: border-box;
    font-size: 36px;

}
span{
    background-color: solid #bada;
    font-weight: solid;
    color:red;
    
}
input{
    place-content: 14px;
}
.info{
    font-size:8px;
}