
body{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;

}   
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.form-box{
    background-color: white;
    border: 3px solid #0a0a0a;
    border-spacing: box-sizing;
    box-spacing: border-box;
   
    padding: 2px 26px;
}
.logo{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: -1px;
}